.container {
    display: grid;
    background-color: rgb(241, 243, 240);
    grid-template-areas: 'Header Header Header Header'
                         'Sidebar Content Content Content'
                         'Footer Footer Footer Footer';
    gap: 5px;
    padding: 15px;
}
.box1 {
    grid-area: Header;
    height: 5vh;
    background-color: darkolivegreen;
}
.box2 {
    grid-area: Sidebar;
    height: 50vh; 
    background-color: gray;
}
.box3 {
    grid-area: Content;
    height: 50vh;  
    background-color: rgb(128, 128, 128);
}
.box4 {
    grid-area: Footer;
    height: 5vh;
    background-color: darkolivegreen;
}

.container > div {
    text-align: center;
    border-radius: 10px;  
    padding: 30px;
    font-size: 30px;
}

